* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

body nav {
  padding: 1rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d8d8d8;
}

body nav i {
  font-size: 5rem;
}

body nav .search_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2.5rem;
  padding: .5rem .7rem;
  background-color: #ffffff;
}

body nav .search_div input {
  padding: 0 1rem;
  font-size: 2rem;
  outline: none;
  border: none;
}

body nav .search_div i {
  font-size: 2.3rem;
  color: #8f8f8f;
}

body button {
  cursor: pointer;
}

body .main_btn {
  background-color: #0bca24;
  color: #ffffff;
  font-weight: 600;
  display: block;
  margin: 2rem auto;
  padding: 1rem 5rem;
  font-size: 2.5rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  -webkit-box-shadow: 1px 1px 10px 0px #e9e9e9;
          box-shadow: 1px 1px 10px 0px #e9e9e9;
}

body .module_container {
  position: relative;
  z-index: 1000;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #6a7258;
  opacity: .9;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .module_container .module_container_hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 25rem;
  width: 45rem;
  background-color: wheat;
  border-radius: 2.5rem;
  -webkit-box-shadow: 1px 1px 17px 0px #4e4d4d;
          box-shadow: 1px 1px 17px 0px #4e4d4d;
  margin-top: -20rem;
}

body .module_container .module_container_hero .logo {
  position: absolute;
  top: -35%;
  left: 50%;
  -webkit-transform: translate(-50%, 35%);
          transform: translate(-50%, 35%);
}

body .module_container .module_container_hero .logo i {
  margin: auto;
  font-size: 4.5rem;
  padding: 3rem 3.5rem;
  border-radius: 50%;
  background-color: wheat;
  color: #3a1be7;
}

body .module_container .module_container_hero input {
  width: 35rem;
  height: 4rem;
  font-size: 2rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

body .module_container .module_container_hero .btn {
  padding-top: 2rem;
}

body .module_container .module_container_hero .btn button {
  font-size: 2rem;
  padding: 0.3rem 2rem;
  margin: 0 2rem 0 2rem;
  border: none;
  outline: none;
}

body .module_container .module_container_hero .btn button:nth-child(1) {
  background-color: #0bca24;
  color: #ffffff;
}

body .module_container .module_container_hero .btn button:nth-child(1):hover {
  background-color: #ffffff;
  color: #0bca24;
}

body .module_container .module_container_hero .btn button:nth-child(2) {
  background-color: #f52d0a;
  color: #ffffff;
}

body .module_container .module_container_hero .btn button:nth-child(2):hover {
  background-color: #ffffff;
  color: #f52d0a;
}

body .moduleOpen {
  -webkit-animation: openModule .4s linear;
          animation: openModule .4s linear;
}

@-webkit-keyframes openModule {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes openModule {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

body h1 {
  font-size: 6rem;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
}

body .user_cotent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .user_cotent input {
  font-size: 3rem;
  padding: .3rem 1rem;
  width: 42rem;
  background-color: #dbffda;
  outline: none;
  border: none;
}

body .user_cotent button {
  background-color: #0ecf07;
  font-size: 3rem;
  padding: .3rem 1rem;
  color: #ffffff;
  font-weight: 600;
  -webkit-transition: all ease-in-out .15s;
  transition: all ease-in-out .15s;
  outline: none;
  border: none;
  cursor: pointer;
}

body .user_cotent button:hover {
  background-color: #ffffff;
  color: #0ecf07;
}

body #all_task {
  background-color: wheat;
  width: 90vw;
  margin: 2rem auto;
  padding: 1rem 2rem 3rem 2rem;
  border-radius: 2.5rem;
}

body #all_task .todo_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10rem;
}

body #all_task .todo_list li {
  cursor: move;
  margin-top: 1.5rem;
}

body #all_task .todo_list li::marker {
  font-size: 2.5rem;
  margin-top: 1rem;
}

body #all_task .todo_list li span {
  font-size: 2rem;
  margin-right: 1rem;
}

body #all_task .todo_list li input {
  float: left;
}

body #all_task .todo_list p {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 -2rem 0;
}

body .delet_all_btn {
  margin: auto;
  display: block;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  background-color: #ff0202;
  color: #ffffff;
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

body .delet_all_btn:hover {
  background-color: #ffffff;
  color: #ff0202;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
}

body .completed {
  color: #0ecf07;
  opacity: .5;
}

body .delete_task_btn, body .complet_task_btn, body .sub_task_add_btn {
  font-size: 1.5rem;
  padding: .8rem 1rem;
  border-radius: 50%;
  border: none;
  outline: none;
  margin-left: 1rem;
  -webkit-transition: all ease-in-out .15s;
  transition: all ease-in-out .15s;
  cursor: pointer;
  color: #ffffff;
  -webkit-filter: drop-shadow(0.2rem 0.2rem 0.5rem rgba(126, 126, 126, 0.952));
          filter: drop-shadow(0.2rem 0.2rem 0.5rem rgba(126, 126, 126, 0.952));
}

body .delete_task_btn {
  background-color: #ff0202;
}

body .delete_task_btn:hover {
  color: #ff0202;
  background-color: transparent;
}

body .complet_task_btn {
  background-color: #17ff02;
  padding: .85rem 1rem;
}

body .complet_task_btn:hover {
  color: #17ff02;
  background-color: transparent;
}

body .sub_task_add_btn {
  background-color: #066e6e;
}

body .sub_task_add_btn:hover {
  color: #066e6e;
  background-color: transparent;
}
/*# sourceMappingURL=Style.css.map */