*{
   box-sizing: border-box;
   margin: 0;
}
html{
   font-size: 62.5%;
}
body{
   font-family: sans-serif;

   // nav
   nav{
      padding: 1rem 10rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #d8d8d8;
      i{

         font-size: 5rem;
      }
      .search_div{
         display: flex;
         align-items: center;
         border-radius: 2.5rem;
         padding: .5rem .7rem;
         background-color: #ffffff;
         input{
            padding: 0 1rem;
            font-size: 2rem;
            outline: none;
            border: none;
         }
         i{
            font-size: 2.3rem;
            color: #8f8f8f;
         }
      }
   }
   button{
      cursor: pointer;
   }
   .main_btn{
      background-color: #0bca24;
      color: #ffffff;
      font-weight: 600;
      display: block;
      margin: 2rem auto;
      padding: 1rem 5rem;
      font-size: 2.5rem;
      outline: none;
      border: none;
      border-radius: 0.5rem;
      box-shadow: 1px 1px 10px 0px rgb(233, 233, 233);
   }
   // Modal
   .modal_container{
      position: relative;
      z-index: 1000;
      position: fixed;
      height: 100%;
      width: 100%;
      background-color: rgba(106, 114, 88, 0.8);
      display: none;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      .modal_container_hero{
         margin-top: 12rem;
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         height: 25rem;
         width: 45rem;
         background-color: wheat;
         border-radius: 2.5rem;
         box-shadow: 1px 1px 17px 0px rgb(78, 77, 77);
         .logo{
            position: absolute;
            top: -35%;
            left: 50%;
            transform: translate(-50%,35%);
            i{
               margin: auto;
               font-size: 4.5rem;
               padding: 3rem 3.5rem;
               border-radius: 50%;
               background-color: wheat;
               color: #3a1be7;
            }
         }
         input {
            width: 35rem;
            height: 4rem;
            font-size: 2rem;
            padding: 0 1rem;
            margin-bottom: 2rem;
          }
         .btn {
            padding-top: 2rem;
            button {
              font-size: 2rem;
              padding: 0.3rem 2rem;
              margin: 0 2rem 0 2rem;
              border: none;
              outline: none;
              &:nth-child(1) {
                background-color: #0bca24;
                color: #ffffff;
                &:hover {
                  background-color: #ffffff;
                  color: #0bca24;
                }
              }
              &:nth-child(2) {
                background-color: #f52d0a;
                color: #ffffff;
                &:hover {
                  background-color: #ffffff;
                  color: #f52d0a;
                }
              }
            }
         }
      }
   }

   // Modal  open animation
   .modalOpen{
      animation: openModal .3s linear;
   }
   @keyframes openModal {
      0%{
         opacity: 0;
         margin-top: -12rem;
      }
      25%{
         opacity: .25;
         margin-top: 7rem;
      }
      50%{
         opacity: .5;
         margin-top: 12em;
      }
      75%{
         opacity: .75;
         margin-top: 14rem;
      }
      100%{
         opacity: 1;
         margin-top: 13rem;
      }
   }
   

   h1{
      font-size: 6rem;
      text-align: center;
      font-family: 'Allerta Stencil', sans-serif;
   }
   .user_cotent{
      display: flex;
      justify-content: center;
      input{
         font-size: 3rem;
         padding: .3rem 1rem;
         width: 42rem;
         background-color: #dbffda;
         outline: none;
         border: none;
      }
      button{
         background-color: #0ecf07;
         font-size: 3rem;
         padding: .3rem 1rem;  
         color: #ffffff;
         font-weight: 600;
         transition: all ease-in-out .15s;
         outline: none;
         border: none;
         cursor: pointer;
         &:hover{
            background-color: #ffffff;
            color: #0ecf07;
         }
      }
   }

   // todo_body
   #all_task{
      background-color: wheat;
      width: 90vw;
      margin: 2rem auto;
      padding: 1rem 2rem 3rem 2rem;
      border-radius: 2.5rem;
      .todo_list{
         display: flex;
         flex-direction: column;
         justify-content: center;
         margin-left: 10rem;
            li{
               cursor: move;
               margin-top: 1.5rem;
               &::marker{
                  font-size: 2.5rem;
                  margin-top: 1rem;
               }
               span{
                  font-size: 2rem;
                  margin-right: 1rem;

               }
               input{
                  float: left;
               }
            }
         p{
            font-size: 2rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            margin: 0 0 -2rem 0;
         }
      }
   }
   .delet_all_btn{
      margin: auto;
      display: block;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      outline: none;
      background-color: #ff0202;
      color: #ffffff;
      font-weight: 600;
      border-radius: 1rem;
      cursor: pointer;
      transition: all ease-in-out .2s;
      &:hover{
         background-color: #ffffff;
         color: #ff0202;
         box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
      }
   }

   // // dynamic class
   .completed{
      color: #0ecf07;
      opacity: .5;
   }
   .delete_task_btn, .complet_task_btn, .sub_task_add_btn{
      font-size: 1.5rem;
      padding: .8rem 1rem;
      border-radius: 50%;
      border: none;
      outline: none;
      margin-left: 1rem;
      transition: all ease-in-out .15s;
      cursor: pointer;
      color: #ffffff;
      filter: drop-shadow(.2rem .2rem .5rem rgba(126, 126, 126, 0.952));
   }
   .delete_task_btn{
      background-color: #ff0202;
      &:hover{
         color: #ff0202;
         background-color: transparent;
      }
   }
   .complet_task_btn{
      background-color: #17ff02;
      padding: .85rem 1rem;
      &:hover{
         color: #17ff02;
         background-color: transparent;
      }
   }
   .sub_task_add_btn{
      background-color: #066e6e;
      &:hover{
         color: #066e6e;
         background-color: transparent;
      }
   }
}